body {
  text-align: center;
  font-family: "Nunito";
}

.mainText {
  color: #005f6b;
}

.techTitle {
  text-align: center;
}

.resourcesLinks {
  text-align: center;
}

.heroTitle {
  text-align: center;
  color: #005f6b;
}

.heroImg {
  height: 350px;
  width: 300px;
}

.heroText {
  max-width: 600px;
  margin: auto;
  display: block;
  text-align: left;
  max-width: 600px;
  color: #005f6b;
}

.contentTitle {
  text-align: center;
}

.biasHeaders {
  color: #005f6b;
  text-align: center;
}

.biasDefinition {
  max-width: 600px;
  margin: auto;
  display: block;
  text-align: left;
  max-width: 600px;
  color: #005f6b;
}

.articlesSection {
  max-width: 600px;
  margin: auto;
  display: block;
  text-align: left;
  max-width: 600px;
  color: #005f6b;
}

.descriptionImg {
  margin-top: 20px;
  height: 300px;
  width: 250px;
}

.navigator {
  background-color: #005f6b;
  padding: 16px;
  justify-content: center;
  text-align: center;
  margin-bottom: 1%;
}

.navigator ul li {
  margin: 17px;
  display: inline;
}

.navigator ul li a {
  display: inline;
  color: #ff6b3d;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
}

.navigator ul li a:hover {
  color: #ffffff;
  background-color: #ff6b3d;
}

.content {
  color: #005f6b;
  text-align: center;

  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 0;
  margin-right: 0;

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0;
  padding-right: 0;

  padding-left: 0;
  margin-left: 0;
  margin-top: 0;
  text-align: left;
  display: inline-block;
}

.descriptions {
  max-width: 600px;
  margin: auto;
  display: block;
  text-align: left;
  max-width: 600px;
  color: #005f6b;
}

.name {
  color: #005f6b;
}

.footer {
  text-align: center;
  background-color: #005f6b;
  color: #ff6b3d;
  padding: 16px;
  margin-top: 45px;
}
